
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

header a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.navbarTogglerActive > span:nth-child(1) {
  @apply transform rotate-45 top-[7px];
}
.navbarTogglerActive > span:nth-child(2) {
  @apply opacity-0;
}
.navbarTogglerActive > span:nth-child(3) {
  @apply top-[-8px] transform rotate-[135deg];
}

.prose iframe.proseIframe {
  position: relative; 
  width: 100%; 
  height: 100vh; 
  max-height: 260px;
}
@media only screen and (min-width: 720px) {
  iframe.proseIframe {
    max-height: 400px !important;
  }
}
@media only screen and (min-width: 960px) {
  iframe.proseIframe {
    max-height: 500px !important;
  }
}
@media only screen and (min-width: 1140px) {
  iframe.proseIframe {
    max-height: 600px !important;
  }
}

.prose iframe.proseIframeSmall {
  position: relative; 
  width: 100%; 
  height: 100vh;
  max-height: 315px;
}
@media only screen and (min-width: 960px) {
  iframe.proseIframeSmall {
    max-width: 560px !important;
    max-height: 315px !important;
  }
}

.text-end {
  text-align: end;
}

.sticky {
  @apply fixed z-[9995] transition bg-white bg-opacity-80 dark:bg-primary dark:bg-opacity-20;
  backdrop-filter: blur(5px);
}

html>body>#iubenda-cs-banner .iubenda-cs-opt-group button, 
html>body>#iubenda-iframe .iub-btn-consent,
html>body>#iubenda-iframe #iubFooterBtnContainer button {
    @apply !rounded-md
}
html>body>#iubenda-iframe #iubFooterBtnContainer button {
    background-color: #BFAC22!important;
}
html>body>#iubenda-cs-banner .iubenda-banner-content h1 {
    @apply text-xl text-primary mb-2
}

@layer components {
  .harmonicsButton {
    @apply !text-base !font-medium !text-white !bg-primary mt-2 py-1 px-3 hover:!bg-opacity-80 hover:!shadow-signUp !rounded-md !transition !duration-300 !ease-in-out
  }
  .harmonicsButtonGray {
    @apply !bg-gray-200 !text-base !font-medium mt-2 py-1 px-3 hover:!bg-opacity-80 hover:!shadow-signUp !rounded-md !transition !duration-300 !ease-in-out
  }
}

#sb_instagram .sbi_follow_btn a {
  @apply harmonicsButton
}
#sb_instagram  #sbi_images .sbi_inner_wrap {
  @apply rounded-md overflow-hidden relative shadow-md shadow-gray-400;
}