@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html {
    scroll-behavior: smooth;
}

body,
button,
input,
select,
textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins, Futura, sans-serif;
}

#landingCoverImg {
    background-image: url('@/assets/gongs.jpg');
}


.navbarTogglerActive > span:nth-child(1) {
  @apply transform rotate-45 top-[7px];
}
.navbarTogglerActive > span:nth-child(2) {
  @apply opacity-0;
}
.navbarTogglerActive > span:nth-child(3) {
  @apply top-[-8px] rotate-[135deg];
}

.prose iframe.proseIframe {
  position: relative; 
  width: 100%; 
  height: 100vh; 
  max-height: 260px;
}
@media only screen and (min-width: 720px) {
  iframe.proseIframe {
    max-height: 400px !important;
  }
}
@media only screen and (min-width: 960px) {
  iframe.proseIframe {
    max-height: 500px !important;
  }
}
@media only screen and (min-width: 1140px) {
  iframe.proseIframe {
    max-height: 600px !important;
  }
}

.text-end {
  text-align: end;
}