@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
}

#landingCoverImg {
    background-image: url ('@/assets/gongs.jpg');
}