@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    scroll-behavior: smooth;
}

body,
button,
input,
select,
textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins, Futura, sans-serif;
}

#landingCoverImg {
    background-image: url('@/assets/gongs.jpg');
}